<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Contacto</h4>
                <ul>
                    <li><a href="#">+52 618 123 45 67</a></li>
                    <li><a href="#">ejemplo©santino.com</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Ubicación</h4>
                <ul>
                    <li><a href="#">10:00 AM - 6:00 PM</a></li>
                    <li><a href="#">Río de la Loza, Esquina con Av. 20 de Noviembre, Plaza Vizcaya Local #20 34080
                            Durango, Mexico</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/santinococinaseinteriores"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Santino</h4>
                <ul>
                    <li><a href="#">© 2025 SANTINO Cocinas e Interiores Todos los derechos reservados.</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>