<main>
  <section>
    <div class="fondo">
      <div class="overlay">
          <img src="img/santino-logo.png" alt="Logo de Santino" class="logo">
          <h1 id="frase-logo">Diseños funcionales y elegantes para el corazón de tu hogar</h1>
      </div>
    </div>
  </section>

  <section class="resumen">
    <div class="imagen-resumen">
      <div class="imagen-resumen-icon">
        <img src="img/apreton-de-manos (3).png" alt="Apretón de manos" class="img">
      </div>
      <h1>Comprometidos con tu confianza</h1>
    </div>
    <div class="imagen-resumen">
      <div class="imagen-resumen-icon">
        <img src="img/martillo (1).png" alt="Martillo" class="img">
      </div>
      <h1>Diseñamos con experiencia, fabricamos con valores</h1>
    </div>
    <div class="imagen-resumen">
      <div class="imagen-resumen-icon">
        <img src="img/calidad.png" alt="Materiales de calidad" class="img">
      </div>
      <h1>Materiales de calidad</h1>
    </div>
  </section>
</main>

<!-- <div class="pantalla-completa">
    Bloque de prueba (pantalla completa)
  </div> -->
<!-- <img src="img/fondo.jpg" alt="Imagen de ejemplo" class="imagen-responsiva"> -->
<!-- <div class="hero">
    <img src="img/fondo.jpg" alt="Imagen de ejemplo" class="imagen-responsiva"> -->

<!-- <div class="contenido">
      <img src="img/logo.png" alt="Logo" class="logo">

      <img src="" alt="Decoración" class="decoracion">

      <h1>Diseños funcionales y elegantes para el corazón de tu hogar.</h1>

      <button class="cta">Cotiza ahora</button>
  </div>
</div> -->
