.pantalla-completa {
  margin-top: 165px;
  height: calc(100vh - 165px);
  background-color: #9e8d41; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}