
<div class="card">
    <p-galleria 
        [value]="images"
        [responsiveOptions]="responsiveOptions" 
        [containerStyle]="{ 'max-width': '400px' }" 
        [numVisible]="7" 
        [circular]="true"
        [showThumbnails]="true"
        >

        <ng-template pTemplate="item" let-item>
            <img [src]="item.itemImageSrc" [alt]="item.alt" style="width: 100%; display: block;"/>
        </ng-template>

        <ng-template pTemplate="thumbnail" let-item>
            <img [src]="item.thumbnailImageSrc" [alt]="item.alt" style="width: 100%; display: block;"/>
        </ng-template>

    </p-galleria>
</div>
