<ng-container *ngIf="error">
    <div class="error">{{ error }}</div>
</ng-container>

<ng-container *ngIf="section && !loading && !error">
    <section>
        <div class="fondo" [style.background-image]="'url(' + section.backgroundImage + ')'">
            <div class="overlay">
                <h1 id="titulo-producto">{{ section.title }}</h1>
                <h2 id="frase-producto">{{ section.subtitle }}</h2>
                <app-button></app-button>
            </div>
        </div>
    </section>

    <div class="card">
        <p>Nuestra pasión, tu espacio</p>
        <p-galleria [value]="section.images" [responsiveOptions]="responsiveOptions"
            [containerStyle]="{ 'max-width': '100%', 'margin': '0 auto' }" [numVisible]="4" [circular]="true"
            [showThumbnails]="true">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.itemImageSrc" [alt]="item.alt"
                    style="width: 100%; height: 500px; object-fit: cover;" />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
                <img [src]="item.thumbnailImageSrc" [alt]="item.alt"
                    style="width: 100%; height: 100px; object-fit: cover;" />
            </ng-template>
        </p-galleria>
    </div>

    <div>
        <p>Comprometidos con tu confianza</p>
    </div>

    <section>
        <div>
            <video width="80%" height="auto" controls>
                <source src="video/videonosotros2.mp4" type="video/mp4">    
            </video>
                
        </div>
    </section>

    <section id="marcas">
        <app-galleria-marcas></app-galleria-marcas>
        <app-button id="final"></app-button>
    </section>



</ng-container>