* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Epilogue', 'sans-serif';
}

.slider-container {
  background-color: #1B1710;
  height: auto;
}

.swiper-container {
  height: 65vh;
}

#titulo{
  font-size: 1.8rem;
  color: #FEFDF9;
  font-weight: 500;
  padding: 20px;
}

.card-list .card-item {
  width: 400px;
  border-radius: 80%;
  margin: 20px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #FEFDF9;
}

.card-list .card-item .user-profession {
  font-size: 1.8rem;
  color: #1B1710;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .user-image {
  width: 300px;
  height: 300px;
  margin-bottom: 40px;
}

.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  font-weight: 500;
  cursor: pointer;
  background: #EDDC94;
  transition: 0.2 ease;
}

.card-list .card-item .message-button:hover {
  background: black;
  border: 1px solid white;
  color: white;
}




/* Estilos para centrar y dar formato básico */

swiper-slide {
  display: flex !important;
  justify-content: center !important;
  height: auto;
}

/* Personalización de navegación */
swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: #dbbc34;
  width: 40px;
  height: 40px;
  transition: all 0.3s ease;
}

swiper-container::part(button-prev):hover,
swiper-container::part(button-next):hover {
  color: #ffffff;
  background-color: #9d4e0d;
}

/* Personalización de paginación */
swiper-container::part(bullet) {
  background-color: #c7bdbd;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  transition: all 0.3s ease;
}

swiper-container::part(bullet-active) {
  background-color: #EDDC94;
  transform: scale(1.2);
}

/* Bullets dinámicos */
swiper-container::part(bullet-active-main) {
  background-color: #EDDC94;
  transform: scale(1.5);
}

swiper-container::part(bullet-active-prev),
swiper-container::part(bullet-active-next) {
  background-color: #EDDC94;
  opacity: 0.8;
  transform: scale(1.2);
}

swiper-container::part(bullet-active-prev-prev),
swiper-container::part(bullet-active-next-next) {
  background-color: #EDDC94;
  opacity: 0.5;
  transform: scale(5);
}