<div class="container swiper">
    <div class="slider-wrapper">
        <div class="card-list swiper-wrapper">
            <div class="card-item swiper-slide">
                <img src="img/img-1.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>

            <div class="card-item swiper-slide">
                <img src="img/img-2.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>

            <div class="card-item swiper-slide">
                <img src="img/img-3.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>

            <div class="card-item swiper-slide">
                <img src="img/img-4.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>

            <div class="card-item swiper-slide">
                <img src="img/img-5.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>

            <div class="card-item swiper-slide">
                <img src="img/img-6.jpg" alt="User Image" class="user-image">
                <h2 class="user-name">James Wilson</h2>
                <p class="user-profession">Sofware Developer</p>
                <button class="message-button">Cotiza ahora</button>
            </div>
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js">

</script>